/* Default styles for larger screens */


.profileScreen {
  height: 100vh;
  color: white;
  background: linear-gradient(to right, #111, #000);
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.profileScreen__body {
  text-align: center;
  max-width: 80%;
  padding: 30px;
  background-color:black;
  border-radius: 10px;
}

.profileScreen__body > h1 {
  font-size: 2.5rem;
  font-weight: 600;
  border-bottom: 2px solid #e50914;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.profileScreen__info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profileScreen__info > img {
  height: 120px;
  
  margin: 20px 0;
}

.profileScreen__details {
  text-align: left;
  flex: 1;
}

.profileScreen__details > h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.profileScreen__plans {
  margin-top: 30px;
}

.profileScreen__plans > h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 20px;
  border-bottom: 2px solid #e50914;
  padding-bottom: 10px;
}

.profileScreen__signOut {
  padding: 12px 24px;
  font-size: 1rem;
  margin-top: 30px;
  width: 100%;
  color: #fff;
  background-color: #e50914;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease-in-out;
}

.profileScreen__signOut:hover {
  background-color: #ff4d67;
}

/* Responsive adjustments for smaller screens */

@media (max-width: 768px) {
  .profileScreen__body {
    max-width: 100%;
    padding: 20px;
  }

  .profileScreen__body > h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .profileScreen__info > img {
    height: 40px;
    margin-top: 5px ;
    margin-bottom: 10px;
  }

  .profileScreen__plans > h3 {
    font-size: 1.2rem;
    padding-top: -5px;
    border-bottom: 2px solid #e50914;
    padding-bottom: 3px;
    margin-bottom: 5px;
  }
  .profileScreen__details > h2 {
    margin-bottom: 6px;
  }
}
